* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dd92969d;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(206, 192, 6, 0.5);
    font-size: 8vmin;
    color: rgb(148, 15, 15);
    cursor: pointer;
}

.reset {
    padding: 1rem;
    background-color: green;
    font-size: 1.25rem;
    text-decoration: none;
    border-radius: 1rem;
    border: none;
    color: white;

}#new-btn{
 padding: 1rem;
    background-color: rgb(128, 0, 90);
    font-size: 1.25rem;
    text-decoration: none;
    border-radius: 1rem;
    border: none;
    color: white;

}
.hide{
    display: none;
}